.product-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 4px #00000040;
  box-sizing: border-box;
  font-size: 14px;

  &.list {
    flex-direction: row;
  }

  &.cart {
    flex-direction: row;
    box-shadow: none;
    padding: 16px;
  }
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  max-width: 100%;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.product-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 12px;
  flex: 1;
  max-width: 100%;
}

.list .product-details-container,
.cart .product-details-container {
  padding-top: 0;
  padding-left: 16px;
}

.product-name {
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 8px;
}

.product-price-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: bold;
  padding-bottom: 8px;
}

.product-price {
  color: var(--secondary-color);
}

.product-strike-price {
  font-size: 12px;
  color: var(--tertiary-color);
  text-decoration: line-through;
  padding-top: 4px;
}

.product-discount {
  margin-left: 16px;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--button-color);
  font-size: 12px;
  color: #ffffff;
}

.location-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--tertiary-color);
  padding-bottom: 8px;
}

.location-name {
  font-size: 12px;
}

.location-icon {
  font-size: 16px;
  margin-right: 4px;
}

.product-rating-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 16px;
}

.star-container {
  display: flex;
  flex-wrap: wrap;

  svg {
    width: 20px;
    height: 20px;
    fill: var(--secondary-color);
    margin-right: 4px;
  }
}

.rating-text {
  padding: 0 8px;
}

.rating-count {
  color: var(--tertiary-color);
}

.add-to-bag-button {
  margin: 0;
  border: 0;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  color: #ffffff;
  background-color: var(--button-color);
}

.list {
  .image-container {
    width: 200px;
  }

  .add-to-bag-button {
    width: auto;
    padding: 10px 30px;
  }
}

.cart {
  .image-container {
    width: 100px !important;
    height: 100px !important;
  }
}

.success-title {
  padding: 10px 16px 0;
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-color);
}

@media (max-width: 648px) {
  .image-container {
    height: 150px;
  }

  .list {
    .image-container {
      width: 120px;
    }
  }

  .star-container {
    svg {
      width: 16px;
      height: 16px;
      margin-right: 0;
    }
  }

  .rating-text {
    padding: 0 4px;
  }

  .product-price {
    font-size: 13px;
  }

  .product-discount {
    margin-left: 6px;
    padding: 6px;
  }
}
