.cart-title {
  padding: 10px 16px 16px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid var(--tertiary-color);
  text-align: center;
  color: var(--primary-color);
}

.products-container {
  border-bottom: 1px solid var(--tertiary-color);
}
