.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;

  span {
    font-size: 100px;
    color: var(--primary-color);
  }
}

.error-message {
  font-size: 24px;
  font-weight: bold;
  padding-top: 30px;
}

@media (max-width: 648px) {
  .error-container {
    padding: 40px 16px;

    .error-message {
      padding-top: 20px;
      font-size: 20px;
    }

    span {
      font-size: 80px;
    }
  }
}
