@import "material-icons/iconfont/material-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto;
  --primary-color: #092143;
  --secondary-color: #f4a51c;
  --tertiary-color: #b8b8b8;
  --button-color: #2ea2cc;
}

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #092143;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
